/*HEADER**************************************************************************/

header {
    border-bottom: 1px solid rgb(31, 175, 29);
    margin-bottom: 1.5rem;
    background-color: rgb(38, 114, 19);

}

@media screen and (min-width: 40rem) {
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

header > * {
    margin: 0;
}

/*NAVIGATION**************************************************************************/
nav {
    display: flex;
    gap: 1rem;
}

nav a {
    color: rgb(213, 220, 246); /*Colour of fonts in nav, ie Home, About*/
    font-size: medium; /*Size of font for nav, ie Home, About*/
    font-weight: 700; /*Boldness of text*/
    
}

h1 {
    margin: 1;
    color: rgb(213, 220, 246); /*Colour of Main Text*/
    font-size: x-large;
}

h2 {
    margin: 1;
    color: rgb(213, 220, 246); /*Colour of Main Text*/
    font-size: small;
}

h3 {
    margin: 1;
    color: rgb(213, 220, 246); /*Colour of Sub Text*/
    font-size: medium;
}

p {
    margin: 1;
    color: rgb(213, 220, 246); /*Colour of Main Text*/
    font-size: small;
    font-weight: 700; 
}



/* MAIN CONTENT*************************************************************************/

main {
    max-width: 50rem;
    margin-right: auto;
    margin-left: auto;
}

section {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

article {
    background-color: rgb(38, 114, 19);
    border: 1px solid rgb(31, 175, 29);
    width: 100%;
    max-width: 20rem;
}

/*ADD*BUTTON**************************************************/

#add-button {
    position: fixed;
    right: 2rem;
    bottom: 2rem;
}

#add-button a {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 3rem;
    width: 3rem;
    background-color: rgb(31, 175, 29);
    color: rgb(213, 220, 246);
    font-weight: 700;
    border-radius: 3rem;
    font-size: 32.5px;
}


/* MAIN FOOTER***************************************************************************/

footer {
    margin-top: 2rem;
    border-top: 1px solid rgb(31, 175, 29);
    background-color: rgb(38, 114, 19);
}