/*HEADER**************************************************************************/

header {
    border-bottom: 1px solid rgb(31, 175, 29);
    margin-bottom: 1.5rem;
    background-color: rgb(38, 114, 19);

}

@media screen and (min-width: 40rem) {
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

header > * {
    margin: 0;
}

/*NAVIGATION**************************************************************************/
nav {
    display: flex;
    gap: 1rem;
}

nav a {
    color: rgb(213, 220, 246); /*Colour of fonts in nav, ie Home, About*/
    font-size: medium; /*Size of font for nav, ie Home, About*/
    font-weight: 700; /*Boldness of text*/
    
}

/*SIZE OF WRITING**************************************************************************/

h1 {
    margin: 1;
    color: rgb(213, 220, 246); /*Colour of Main Text*/
    font-size: x-large;
}

h2 {
    margin: 1;
    color: rgb(213, 220, 246); /*Colour of Main Text*/
    font-size: small;
}

h3 {
    margin: 1;
    color: rgb(213, 220, 246); /*Colour of Sub Text*/
    font-size: medium;
}

p {
    margin: 1;
    color: rgb(213, 220, 246); /*Colour of Main Text*/
    font-size: small;
    font-weight: 700; 
}



/* MAIN/ BODY*************************************************************************/

main {
    max-width: 50rem;
    margin-right: auto;
    margin-left: auto;
}

section {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

article {
    background-color: rgb(38, 114, 19);
    border: 1px solid rgb(31, 175, 29);
    width: 100%;
    max-width: 20rem;
}

section#weather {
    flex-direction: column;
}

/*ADD*BUTTON**************************************************/

#add-button {
    position: fixed;
    right: 2rem;
    bottom: 2rem;
}

#add-button a {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 3rem;
    width: 3rem;
    background-color: rgb(31, 175, 29);
    color: rgb(213, 220, 246);
    font-weight: 700;
    border-radius: 3rem;
    font-size: 32.5px;
}

/* LISTS ****************************************************/



#todo-list {
    list-style: none;
    padding: 0;
    width: max-content;
    margin: 5rem auto;
}


#todo-list li { /*For the tasks*/
    margin-bottom: 0.5rem; /*Gap between tasks*/
    display: flex; /*adds a gap between everything*/
    width: 210%; /*how long the task bar is*/
    gap: 0.5rem; /*Gap between the sentances*/
    background-color: rgb(31, 175, 29); /*The colour*/
    border-radius: 0.4rem; /*Makes the list cylinderical*/
    align-items: center; /*Numbers are in center of box*/

}


#todo-list li a {
    display: block;
    padding: 0.2rem 0.5rem;
    color: white;
    text-decoration: none;
}

#todo-list li:hover {
    background-color: orangered;
}


/* MAIN FOOTER***************************************************************************/

footer {
    margin-top: 2rem;
    border-top: 1px solid rgb(31, 175, 29);
    background-color: rgb(38, 114, 19);
}